<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Edit user "Javid Abbasov"
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nf-image">Profile Image</label>
                <input type="file" id="nf-image" name="nf-image" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="nf-email">Email</label>
                <input type="email" id="nf-email" name="nf-email" class="form-control" placeholder="jabbasov2019@ada.edu.az" autocomplete="email">
              </div>
              <div class="form-group col-md-6">
                <label for="nf-name">Name</label>
                <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Javid" autocomplete="current-name">
              </div>
              <div class="form-group col-md-6">
                <label for="nf-surname">Surname</label>
                <input type="text" id="nf-surname" name="nf-surname" class="form-control" placeholder="Abbasov" autocomplete="current-surname">
              </div>
              <div class="form-group col-md-6">
                <label for="nf-status">Status</label>
                <select id="nf-status" name="nf-status" class="form-control">
                  <option>Answered</option>
                  <option>Pending</option>
                  <option>Blocked</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="nf-country">Country</label>
                <select id="nf-country" name="nf-country" class="form-control">
                  <option>Azerbaijan</option>
                  <option>Brazil</option>
                  <option>Japan</option>
                  <option>Russia</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="nf-country">Role</label>
                <select id="nf-role" name="nf-role" class="form-control">
                  <option>Admin</option>
                  <option>Editor</option>
                  <option>Customer</option>
                  <option>Participant</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>