<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Edit task #11231
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="row">
              <div class="form-group col-md-1">
                <label for="nf-email">User ID</label>
                <input type="text" id="id" name="id" class="form-control"
                       placeholder="132" disabled>
              </div>
              <div class="form-group col-md-4">
                <label for="nf-email">Email</label>
                <input type="email" id="nf-email" name="nf-email" class="form-control"
                  placeholder="jabbasov2019@ada.edu.az" autocomplete="email" disabled>
              </div>
              <div class="form-group col-md-4">
                <label for="nf-name">Full name</label>
                <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Javid abbasov"
                  autocomplete="current-name" disabled>
              </div>
              <div class="form-group col-md-3">
                <label for="nf-status">Status</label>
                <select id="nf-status" name="nf-status" class="form-control">
                  <option>Answered</option>
                  <option>Pending</option>
                  <option>Blocked</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label for="nf-question">Question</label>
                <textarea type="text" id="nf-question" name="nf-question" class="form-control"
                  autocomplete="current-question" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </textarea>
              </div>
              <div class="form-group col-md-12">
                <label for="nf-answer">Answer</label>
                <textarea type="text" id="nf-answer" name="nf-answer" class="form-control" autocomplete="current-answer"
                  rows="8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>