<style>
  tr {
    height: 1px;
    font-size: 70%;
  }

  td {
    padding: 5px 0;
  }
</style>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Questions and Answers
        </div>
        <div class="card-body">
          <table id="taskstable" class="taskstable table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Question</th>
                <th class="text-center">Status</th>
                <th>Activity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  1
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>Salam. Çölə çıxmaq olar zəhmət olmasa?</strong>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success">Answered</span>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td>
                <td>
                  <a routerLink="/task/1"><i class="fa fa-pencil-square fa-2x"></i></a>
                  <a href="#"><i style="color: red;" class="fa fa-trash-o fa-2x"></i></a>
                  <a href="#"><i style="color: orange;" class="fa fa-ban fa-2x"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>